.footer {
  background-color: #829beb; /* Example background color */
  color: white;
  text-align: center;
  padding: 30px 10px; /* Existing padding */
  padding-top: 20px; /* Add padding to the top of the footer */
  font-size: 14px;
}

  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  